<div class="header flex-row-center-initial-section">
  <div class="menu-block">
    <div class="img-block"><img src="assets/images/logo.png" class="logo" routerLink="" routerLinkActive="active"></div>
    <nav class="menu">
      <app-menu class="flex-row-wrap-section"></app-menu>
    </nav>
    <div class="block-buttons">
      <div><span class="phone-number">{{'header.phone-number' | translate}}</span></div>
      <div>
        <button class="login-btn" (click)="login()">{{'header.login-button' | translate}}</button>
    </div>
    </div>
  </div>
</div>
