<div class="header flex-row-center-initial-section">
  <div class="menu-block">
    <div><img src="assets/images/logo.png" class="logo" routerLink="" routerLinkActive="active"></div>
    <nav class="menu">
      <app-menu></app-menu>
    </nav>
    <div class="block-buttons">
      <div><span class="phone-number">{{'header.phone-number' | translate}}</span></div>
      <div>
        <button class="registration-help-btn" routerLink="registration-help" routerLinkActive="active">{{'header.registration-button' | translate}}</button>
        <button class="login-btn">{{'header.login-button' | translate}}</button>
    </div>
    </div>
  </div>
</div>
