.contact-counselor-debtor-education {
    margin-bottom: 10px;
    width: 100%;
    .contact-conselor-form {
      width: 1110px;
      .contact-counselor-debtor-education-field {
        width: 100%;
      }
    }
  }
  
  .contact-counselor-debtor-education-text-section {
    text-align: center;
    font-size: 17px;
    p {
      margin: 0 0 10px;
    }
  }