.budget-credit-counseling-faqs {
  font-size: 17px;

  .text {
    margin: 0 0 10px;
    font-weight: 400;
  }
}

ul {
  margin: 10px 0;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.list {
  list-style: none;
  padding-left: 30px;
  margin: 0;
}
