<app-main-header [title]="'budget-credit-glossary.title'"></app-main-header>

<div class="budget-credit-glossary-container flex-row-center-initial-section">
  <div class="budget-credit-glossary">
    <p class="subtitle">{{'budget-credit-glossary.subtitle' | translate}}</p>
    <p class="subtitle">
      <span class="letter" (click)="sctoll(A)">{{'budget-credit-glossary.a' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(B)">{{'budget-credit-glossary.b' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(C)">{{'budget-credit-glossary.c' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(D)">{{'budget-credit-glossary.d' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(E)">{{'budget-credit-glossary.e' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(F)">{{'budget-credit-glossary.f' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(G)">{{'budget-credit-glossary.g' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(H)">{{'budget-credit-glossary.h' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(I)">{{'budget-credit-glossary.i' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(J)">{{'budget-credit-glossary.j' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(K)">{{'budget-credit-glossary.k' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(L)">{{'budget-credit-glossary.l' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(M)">{{'budget-credit-glossary.m' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(N)">{{'budget-credit-glossary.n' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(O)">{{'budget-credit-glossary.o' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(P)">{{'budget-credit-glossary.p' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(Q)">{{'budget-credit-glossary.q' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(R)">{{'budget-credit-glossary.r' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(S)">{{'budget-credit-glossary.s' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(T)">{{'budget-credit-glossary.t' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(U)">{{'budget-credit-glossary.u' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(V)">{{'budget-credit-glossary.v' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(W)">{{'budget-credit-glossary.w' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(Y)">{{'budget-credit-glossary.y' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(Z)">{{'budget-credit-glossary.z' | translate}}</span>
      <span class="letter margin-left" (click)="sctoll(Other)">{{'budget-credit-glossary.other' | translate}}</span>
    </p>
    <p class="letter" #A>{{'budget-credit-glossary.a' | translate}}</p>
    <p>{{'budget-credit-glossary.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.text4' | translate}}</p>
    <p>{{'budget-credit-glossary.text5' | translate}}</p>
    <p>{{'budget-credit-glossary.text6' | translate}}</p>
    <p>{{'budget-credit-glossary.text7' | translate}}</p>
    <p>{{'budget-credit-glossary.text8' | translate}}</p>
    <p>{{'budget-credit-glossary.text9' | translate}}</p>
    <p>{{'budget-credit-glossary.text10' | translate}}</p>
    <p>{{'budget-credit-glossary.text11' | translate}}</p>
    <p>{{'budget-credit-glossary.text12' | translate}}</p>

    <p class="letter" #B>{{'budget-credit-glossary.b' | translate}}</p>
    <p>{{'budget-credit-glossary.text13' | translate}}</p>
    <p>{{'budget-credit-glossary.text14' | translate}}</p>
    <p>{{'budget-credit-glossary.text15' | translate}}</p>
    <p>{{'budget-credit-glossary.text16' | translate}}</p>
    <p>{{'budget-credit-glossary.text17' | translate}}</p>
    <p>{{'budget-credit-glossary.text18' | translate}}</p>
    <p>{{'budget-credit-glossary.text19' | translate}}</p>

    <p class="letter" #C>{{'budget-credit-glossary.c' | translate}}</p>
    <p>{{'budget-credit-glossary.text20' | translate}}</p>
    <p>{{'budget-credit-glossary.text21' | translate}}</p>
    <p>{{'budget-credit-glossary.text22' | translate}}</p>
    <p>{{'budget-credit-glossary.text23' | translate}}</p>
    <p>{{'budget-credit-glossary.text24' | translate}}</p>
    <p>{{'budget-credit-glossary.text25' | translate}}</p>
    <p>{{'budget-credit-glossary.text26' | translate}}</p>
    <p>{{'budget-credit-glossary.text27' | translate}}</p>
    <p>{{'budget-credit-glossary.text28' | translate}}</p>
    <p>{{'budget-credit-glossary.text29' | translate}}</p>
    <p>{{'budget-credit-glossary.text30' | translate}}</p>
    <p>{{'budget-credit-glossary.text31' | translate}}</p>
    <p>{{'budget-credit-glossary.text32' | translate}}</p>
    <p>{{'budget-credit-glossary.text33' | translate}}</p>
    <p>{{'budget-credit-glossary.text34' | translate}}</p>
    <p>{{'budget-credit-glossary.text35' | translate}}</p>
    <p>{{'budget-credit-glossary.text36' | translate}}</p>
    <p>{{'budget-credit-glossary.text37' | translate}}</p>
    <p>{{'budget-credit-glossary.text38' | translate}}</p>
    <p>{{'budget-credit-glossary.text39' | translate}}</p>
    <p>{{'budget-credit-glossary.text40' | translate}}</p>
    <p>{{'budget-credit-glossary.text41' | translate}}</p>
    <p>{{'budget-credit-glossary.text42' | translate}}</p>
    <p>{{'budget-credit-glossary.text43' | translate}}</p>

    <p class="letter" #D>{{'budget-credit-glossary.d' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text4' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text5' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text6' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text7' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text8' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text9' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text10' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text11' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text12' | translate}}</p>
    <p>{{'budget-credit-glossary.letterD.text13' | translate}}</p>

    <p class="letter" #E>{{'budget-credit-glossary.e' | translate}}</p>
    <p>{{'budget-credit-glossary.letterE.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterE.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterE.text3' | translate}}</p>

    <p class="letter" #F>{{'budget-credit-glossary.f' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text4' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text5' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text6' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text7' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text8' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text9' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text10' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text11' | translate}}</p>
    <p>{{'budget-credit-glossary.letterF.text12' | translate}}</p>

    <p class="letter" #G>{{'budget-credit-glossary.g' | translate}}</p>
    <p>{{'budget-credit-glossary.letterG.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterG.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterG.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterG.text4' | translate}}</p>

    <p class="letter" #H>{{'budget-credit-glossary.h' | translate}}</p>
    <p>{{'budget-credit-glossary.letterH.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterH.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterH.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterH.text4' | translate}}</p>

    <p class="letter" #I>{{'budget-credit-glossary.i' | translate}}</p>
    <p>{{'budget-credit-glossary.letterI.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterI.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterI.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterI.text4' | translate}}</p>

    <p class="letter" #J>{{'budget-credit-glossary.j' | translate}}</p>
    <p>{{'budget-credit-glossary.letterJ.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterJ.text2' | translate}}</p>

    <p class="letter" #K>{{'budget-credit-glossary.k' | translate}}</p>
    <p>{{'budget-credit-glossary.letterK.text1' | translate}}</p>

    <p class="letter" #L>{{'budget-credit-glossary.l' | translate}}</p>
    <p>{{'budget-credit-glossary.letterL.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterL.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterL.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterL.text4' | translate}}</p>

    <p class="letter" #M>{{'budget-credit-glossary.m' | translate}}</p>
    <p>{{'budget-credit-glossary.letterM.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterM.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterM.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterM.text4' | translate}}</p>

    <p class="letter" #N>{{'budget-credit-glossary.n' | translate}}</p>
    <p>{{'budget-credit-glossary.letterN.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterN.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterN.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterN.text4' | translate}}</p>
    <p>{{'budget-credit-glossary.letterN.text5' | translate}}</p>
    <p>{{'budget-credit-glossary.letterN.text6' | translate}}</p>
    <p>{{'budget-credit-glossary.letterN.text7' | translate}}</p>

    <p class="letter" #O>{{'budget-credit-glossary.o' | translate}}</p>
    <p>{{'budget-credit-glossary.letterO.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterO.text2' | translate}}</p>

    <p class="letter" #P>{{'budget-credit-glossary.p' | translate}}</p>
    <p>{{'budget-credit-glossary.letterP.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterP.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterP.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterP.text4' | translate}}</p>
    <p>{{'budget-credit-glossary.letterP.text5' | translate}}</p>
    <p>{{'budget-credit-glossary.letterP.text6' | translate}}</p>
    <p>{{'budget-credit-glossary.letterP.text7' | translate}}</p>
    <p>{{'budget-credit-glossary.letterP.text8' | translate}}</p>

    <p class="letter" #Q>{{'budget-credit-glossary.q' | translate}}</p>
    <p>{{'budget-credit-glossary.letterQ.text1' | translate}}</p>

    <p class="letter" #R>{{'budget-credit-glossary.r' | translate}}</p>
    <p>{{'budget-credit-glossary.letterR.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterR.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterR.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterR.text4' | translate}}</p>
    <p>{{'budget-credit-glossary.letterR.text5' | translate}}</p>

    <p class="letter" #S>{{'budget-credit-glossary.s' | translate}}</p>
    <p>{{'budget-credit-glossary.letterS.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterS.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterS.text3' | translate}}</p>
    <p>{{'budget-credit-glossary.letterS.text4' | translate}}</p>
    <p>{{'budget-credit-glossary.letterS.text5' | translate}}</p>
    <p>{{'budget-credit-glossary.letterS.text6' | translate}}</p>
    <p>{{'budget-credit-glossary.letterS.text7' | translate}}</p>
    <p>{{'budget-credit-glossary.letterS.text8' | translate}}
      <a href="https://www.credit.com/debt/statutes-of-limitations/"
        target="_blank">{{'budget-credit-glossary.letterS.link' | translate}}</a>
      <span>{{'budget-credit-glossary.letterS.text9' | translate}}</span>
    </p>

    <p class="letter" #T>{{'budget-credit-glossary.t' | translate}}</p>
    <p>{{'budget-credit-glossary.letterT.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterT.text2' | translate}}</p>

    <p class="letter" #U>{{'budget-credit-glossary.u' | translate}}</p>
    <p>{{'budget-credit-glossary.letterU.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterU.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterU.text3' | translate}}</p>

    <p class="letter" #V>{{'budget-credit-glossary.v' | translate}}</p>
    <p>{{'budget-credit-glossary.letterV.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.letterV.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.letterV.text3' | translate}}</p>

    <p class="letter" #W>{{'budget-credit-glossary.w' | translate}}</p>
    <p>{{'budget-credit-glossary.letterW.text1' | translate}}</p>

    <p class="letter" #Y>{{'budget-credit-glossary.y' | translate}}</p>
    <p>{{'budget-credit-glossary.letterY.text1' | translate}}</p>

    <p class="letter" #Z>{{'budget-credit-glossary.z' | translate}}</p>
    <p>{{'budget-credit-glossary.letterZ.text1' | translate}}</p>

    <p class="letter" #Other>{{'budget-credit-glossary.other' | translate}}</p>
    <p>{{'budget-credit-glossary.Others.text1' | translate}}</p>
    <p>{{'budget-credit-glossary.Others.text2' | translate}}</p>
    <p>{{'budget-credit-glossary.Others.text3' | translate}}</p>
  </div>
</div>
