.client-reviews {
  font-size: 17px;

  .text {
    margin: 0 0 10px 45px;
  }
}

.subtitle {
  margin-top: 45px;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 2.3;
}

.font {
  font-size: 22px;
  font-weight: 600;
}
