<app-main-header [title]="'client-reviews.title'"></app-main-header>

<div class="container flex-row-center-initial-section">
  <div class="client-reviews content">
    <p>{{'client-reviews.text1' | translate}}</p>
    <p class="text">{{'client-reviews.text2' | translate}}</p>
    <p class="text">{{'client-reviews.text3' | translate}}</p>
    <p class="subtitle">{{'client-reviews.text4' | translate}}</p>
    <p class="text">{{'client-reviews.text5' | translate}}</p>
    <p class="text">{{'client-reviews.text6' | translate}}</p>
    <p class="subtitle">{{'client-reviews.text7' | translate}}</p>
    <p class="text">{{'client-reviews.text8' | translate}}</p>
    <p class="text">{{'client-reviews.text9' | translate}}</p>
    <p class="subtitle">{{'client-reviews.text10' | translate}}</p>
    <p class="text">{{'client-reviews.text11' | translate}}</p>
    <p class="text">{{'client-reviews.text12' | translate}}</p>
    <p class="subtitle">{{'client-reviews.text13' | translate}}</p>
    <p class="text">{{'client-reviews.text14' | translate}}</p>
    <p class="text">{{'client-reviews.text15' | translate}}</p>
    <p class="subtitle">{{'client-reviews.text16' | translate}}</p>
    <p class="text">{{'client-reviews.text17' | translate}}</p>
    <p class="text">{{'client-reviews.text18' | translate}}</p>
    <p class="subtitle">{{'client-reviews.text19' | translate}}</p>
    <p class="text">{{'client-reviews.text20' | translate}}</p>
    <p class="text">{{'client-reviews.text21' | translate}}</p>
    <p class="subtitle">{{'client-reviews.text22' | translate}}</p>
    <p class="text">{{'client-reviews.text23' | translate}}</p>
    <p class="text">{{'client-reviews.text24' | translate}}</p>
    <p class="subtitle">{{'client-reviews.text25' | translate}}</p>
    <p class="text">{{'client-reviews.text26' | translate}}</p>
    <p class="text">{{'client-reviews.text27' | translate}}</p>
    <p class="subtitle">{{'client-reviews.text28' | translate}}</p>
    <p class="text">{{'client-reviews.text29' | translate}}</p>
    <p class="text">{{'client-reviews.text30' | translate}}</p>
    <h1 class="subtitle">{{'client-reviews.text31' | translate}}</h1>
    <p class="text font">{{'client-reviews.text32' | translate}}</p>
    <p class="text font">{{'client-reviews.text33' | translate}}</p>
  </div>
</div>
