.negotiating-creditors-container {
  margin-bottom: 10px;
  margin-top: 80px;
  .negotiating-creditors {
    width: 1110px;
    font-size: 17px;
    margin-bottom: 50px;

    .text {
      margin: 0 0 10px 20px;
    }
  }
}

ul {
  padding-left: 3em;
}
a {
  text-decoration: none;
  color: #0a9200;
}

.link-block {
  font-weight: bolder;
}
