.credit-laws-summaries-container {
  margin-bottom: 10px;
  margin-top: 80px;
  .credit-laws-summaries {
    width: 1140px;
    font-size: 20px;
    color: #000000;

    .text {
      margin: 0 0 10px;
      font-size: 22px;
    }
    a {
      color: #0a9200;
      text-decoration: none;
    }
  }
}

.big-margin-bottom {
    margin-bottom: 70px !important;
}