<app-main-header [title]="'credit-laws-summaries.title'"></app-main-header>

<div class="credit-laws-summaries-container flex-row-center-initial-section">
  <div class="credit-laws-summaries flex-column-center-section">
    <p class="text big-margin-bottom">{{'credit-laws-summaries.subtitle' | translate}}</p>
    <p class="text">{{'credit-laws-summaries.text1' | translate}}</p>
    <p class="text big-margin-bottom">{{'credit-laws-summaries.text2' | translate}}
      <a href="http://www.ftc.gov/" target="_blank">{{'credit-laws-summaries.link1' | translate}}</a>
      <span>{{'credit-laws-summaries.text3' | translate}}</span>
      <a href="http://www.nccusl.org/" target="_blank">{{'credit-laws-summaries.link2' | translate}}</a>
      <span>{{'credit-laws-summaries.text4' | translate}}</span>
    </p>
    <ngbd-nav-vertical></ngbd-nav-vertical>
  </div>
</div>
