@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

.flex-column-wrap-section {
  @include flex(column, initial, initial);
}

.flex-column-initial-center-section {
  @include flex(column, initial, center);
}

.flex-column-center-section {
  @include flex(column, center, center);
}

.flex-column-space-between-center-section {
  @include flex(column, space-between, center);
}

.flex-column-space-between-initial-section {
  @include flex(column, space-between, initial);
}

.flex-row-wrap-section {
  @include flex(row, initial, initial);
}

.flex-row-center-section {
  @include flex(row, center, center);
}

.flex-row-center-initial-section {
  @include flex(row, center, initial);
}

.flex-row-space-between-center-section {
  @include flex(row, space-between, center);
}

.flex-row-space-between-initial-section {
  @include flex(row, space-between, initial);
}

.container {
  margin-top: 80px;
  margin-bottom: 50px;
}
.content {
  width: 1110px;
}
