.budget-credit-counseling {
  font-size: 17px;

  .text {
    margin: 0 0 10px;
  }
}

img {
  width: 400px;
  height: 267px;
  margin: 20px;
  float: left;
}

.pre-bankruptcy-credit-block {
  margin-top: 40px;
}

.size {
  font-size: 18px;
}

.underline-text {
  text-decoration: underline;
}

.yellow-text {
  background-color: #ffff00;
}

.green-text {
  background-color: #00ff00;
}

p {
  line-height: 1.7;
}

ul {
  margin: 0;
  padding-left: 3em;
  line-height: 1.7;
}

.process-info {
  padding-left: 1.5em;
  li {
    list-style: none;
  }
}

@media (max-width: 460px) {
  img {
    max-width: 300px;
    max-height: 215px;
  }
}
