.consumer-debt-info-container {
  margin-bottom: 10px;
  margin-top: 80px;
  .consumer-debt-info {
    width: 1110px;
    font-size: 17px;

    .text {
      margin: 0 0 80px;
    }
  }
}

.last-updated-section {
  text-align: center;
  margin-top: 50px;
  color: #008000;
}

a {
  text-decoration: none;
  color: #0a9200;
}
