.credit-counseling-course-container {
  margin-bottom: 10px;
  margin-top: 80px;
  .credit-counseling-course {
    width: 1110px;
    font-size: 16px;

    .text {
      margin: 0 0 10px;
    }
  }
}

.table {
  .item {
    width: 100%;
    background: #eee;
    border: 1px solid #ccc;
    padding: 5px 10px;
    p {
      margin: 0;
    }
  }
  .name {
    padding-left: 60px;
  }

  .brown-text {
    color: #8b4513;
  }
}
