<app-main-header [title]="'credit-counseling-course.title'"></app-main-header>


<div class="container flex-row-center-initial-section">
  <div class="credit-counseling-course content flex-column-center-section">
    <div class="table flex-column-wrap-section">
      <div class="item">
        <p>{{'credit-counseling-course.text1' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name2' | translate}}</p>
      </div>
      <div class="item">
        <p>{{'credit-counseling-course.text2' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name3' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name4' | translate}}</p>
      </div>
      <div class="item">
        <p class="brown-text">{{'credit-counseling-course.text3' | translate}}</p>
      </div>
      <div class="item">
        <p class="name brown-text">{{'credit-counseling-course.name5' | translate}}</p>
      </div>
      <div class="item">
        <p class="name brown-text">{{'credit-counseling-course.name6' | translate}}</p>
      </div>
      <div class="item">
        <p>{{'credit-counseling-course.text4' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name7' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name8' | translate}}</p>
      </div>
      <div class="item">
        <p class="brown-text">{{'credit-counseling-course.text5' | translate}}</p>
      </div>
      <div class="item">
        <p class="name brown-text">{{'credit-counseling-course.name9' | translate}}</p>
      </div>
      <div class="item">
        <p class="name brown-text">{{'credit-counseling-course.name10' | translate}}</p>
      </div>
      <div class="item">
        <p>{{'credit-counseling-course.text6' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name11' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name12' | translate}}</p>
      </div>
      <div class="item">
        <p class="brown-text">{{'credit-counseling-course.text7' | translate}}</p>
      </div>
      <div class="item">
        <p class="name brown-text">{{'credit-counseling-course.name13' | translate}}</p>
      </div>
      <div class="item">
        <p class="name brown-text">{{'credit-counseling-course.name14' | translate}}</p>
      </div>
      <div class="item">
        <p>{{'credit-counseling-course.text8' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name15' | translate}}</p>
      </div>
      <div class="item">
        <p class="name">{{'credit-counseling-course.name16' | translate}}</p>
      </div>
    </div>
  </div>
</div>
