.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  .text {
    padding: 16px;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 17px;
    border: 0;
    &:hover {
      color: #389e38;
      cursor: pointer;
      transition: all 0.3s;
    }
  }
}

a {
  text-decoration: none;
  color: black;
  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
  }
}

button {
  background-color: white;
  padding: 3px 25px 3px 8px;
  font-weight: 700;
  font-size: 17px;
  width: 100%;
  border: 0;
  text-align: left;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    border: 0;
  }
}

::ng-deep {
  .mat-menu-panel {
    max-width: 320px !important;
  }
  .mat-menu-content:not(:empty) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .mat-button-focus-overlay {
    background: none !important;
    opacity: 0 !important;
  }
  .mat-menu-item {
    height: auto !important;
    font-size: 13px;
    font-weight: 600;
    line-height: 32px !important;
    transition: all 0.4s;
    border: 0;
    word-break: break-word !important;

    &:hover {
      background-color: #389e38 !important;
      cursor: pointer;
      color: white;
      border: 0;
    }
  }
  .cdk-overlay-connected-position-bounding-box {
    top: 153px !important;
  }
  .mat-menu-item-submenu-trigger {
    padding-top: 8px !important;
  }
}
