<!-- <ng-container *ngFor="let menuItem of menuList">
  <div class="menu">
    <div class="flex-row-wrap-section" #menu>
      <ng-container>
        <button #button mat-button (mouseenter)="buttonEnter(levelOneTrigger)"
          (mouseleave)="buttonLeave(levelOneTrigger, button)" class="text"
          [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger">
          {{'menu.programs-services' | translate}}
        </button>
      </ng-container> -->
<!-- <div><button class="text" [matMenuTriggerFor]="recources" #recourcesMenuTrigger="matMenuTrigger"
          (mouseenter)="recourcesMenuTrigger.openMenu()">{{'menu.recources' | translate}}</button></div> -->
<!-- </div> -->
<!-- <mat-menu #levelOne="matMenu" class="drop-down-menu" [overlapTrigger]="false">
      <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(levelOneTrigger, button)">
        <ng-container *ngFor="let childL1 of menuItem.children">
          <li *ngIf="!childL1.children" mat-menu-item routerLink="content/budget-credit-counseling"
            routerLinkActive="active">
            <a class="nav-link">{{childL1.label}}</a>
          </li> -->
<!-- <li mat-menu-item routerLink="content/budget-credit-counseling" routerLinkActive="active"
            [matMenuTriggerFor]="budgetCredit" #budgetCreditMenuTrigger="matMenuTrigger"
            (mouseenter)="budgetCreditMenuTrigger.openMenu()">
            {{}}
          </li>
          <li mat-menu-item routerLink="content/debtor-education" routerLinkActive="active"
            [matMenuTriggerFor]="debtorEducation" #debtorEducationMenuTrigger="matMenuTrigger"
            (mouseenter)="debtorEducationMenuTrigger.openMenu()">
            {{'menu.pre-discharge' | translate}}
          </li> -->
<!-- </ng-container>
      </span>
    </mat-menu> -->

<!-- <mat-menu #budgetCredit="matMenu" class="drop-down-menu" [overlapTrigger]="false">
      <span (mouseleave)="programsServicesMenuTrigger.closeMenu()">
        <button [innerHTML]="'menu.budget-and-credit' | translate" routerLink="budget-and-credit-counseling-disclosure"
          routerLinkActive="active">
        </button>
        <button [innerHTML]="'menu.wiser-consumer' | translate"
          routerLink="content/1-wiser-consumer-education-inc-budget-and-credit-counseling-faqs"
          routerLinkActive="active"></button>
        <button [innerHTML]="'menu.client-reviews' | translate" routerLink="client-reviews-credit-counseling-course"
          routerLinkActive="active"></button>
        <button [innerHTML]="'menu.contact-counselor' | translate" routerLink="content/contact-counselor"
          routerLinkActive="active"></button>
        <button [innerHTML]="'menu.fee-schedule' | translate" routerLink="content/fee-schedule"
          routerLinkActive="active"></button>
      </span>
    </mat-menu> -->

<!-- <mat-menu #debtorEducation="matMenu" class="drop-down-menu" [overlapTrigger]="false">
      <span (mouseleave)="programsServicesMenuTrigger.closeMenu()">
        <button [innerHTML]="'menu.pre-discharge-deb-education' | translate" routerLink="debtor-education-disclosure"
          routerLinkActive="active"></button>
        <button [innerHTML]="'menu.pre-discharge-deb-education-faqs' | translate"
          routerLink="content/debtor-education-faqs" routerLinkActive="active"></button>
        <button [innerHTML]="'menu.client-reviews-debtor-education' | translate"
          routerLink="client-reviews-debtor-education-course" routerLinkActive="active"></button>
        <button routerLink="content/1-wiser-consumer-education-fee-schedule" routerLinkActive="active"
          [innerHTML]="'menu.wiser-consumer-free-schedule' | translate"></button>
        <button routerLink="content/contact-counselor-debtor-education" routerLinkActive="active"
          [innerHTML]="'menu.contact-counselor' | translate"></button>
      </span>
    </mat-menu>

    <mat-menu #recources="matMenu" class="drop-down-menu">
      <span (mouseleave)="recourcesMenuTrigger.closeMenu()">
        <button routerLink="consumer-debt-information"
          routerLinkActive="active">{{'menu.recources' | translate}}</button>
        <button [innerHTML]="'menu.consumer-recources' | translate" routerLink="consumer-resources"
          routerLinkActive="active"></button>
        <button [innerHTML]="'menu.credit-laws' | translate" routerLink="credit-laws-summaries"
          routerLinkActive="active"></button>
        <button [innerHTML]="'menu.budgeting-faqs' | translate" routerLink="budgeting-faqs"
          routerLinkActive="active"></button>
        <button [innerHTML]="'menu.budget-credit-glossary' | translate" routerLink="content/budget-credit-glossary"
          routerLinkActive="active"></button>
        <button [innerHTML]="'menu.negotiating' | translate" routerLink="content/negotiating-creditors"
          routerLinkActive="active"></button>
        <button [innerHTML]="'menu.disaster-survivors' | translate" routerLink="disaster-survivors-tool-kit"
          routerLinkActive="active"></button>
      </span>
    </mat-menu> -->
<!-- </div>
</ng-container> -->
<ng-container *ngFor="let menuItem of menuList">
  <div class="menu">
    <div class="flex-row-wrap-section">
      <ng-container *ngIf="!menuItem.children" class="flex-row-wrap-section">
        <a class="nav-link">
          <span class="icon fa" [ngClass]="menuItem.icon"></span>
          <span class="text-holder">{{menuItem.label}}</span>
        </a>
      </ng-container>
      <ng-container *ngIf="menuItem.children.length > 0">
        <button #button mat-button [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger"
          (mouseenter)="buttonEnter(levelOneTrigger)" (mouseleave)="buttonLeave(levelOneTrigger, button)"
          routerLink="menuItem.url" routerLinkActive="active"
          style="z-index:1050">
          <span class="icon fa" [ngClass]="menuItem.icon"></span>
          <span [innerHTML]="menuItem.label">
            <i class="fa fa-chevron-down"></i>
          </span>
        </button>

        <mat-menu #levelOne="matMenu" direction="down" yPosition="below">
          <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(levelOneTrigger, button)">
            <ng-container *ngFor="let childL1 of menuItem.children">
              <li class="p-0" *ngIf="!childL1.children" mat-menu-item>
                <a class="nav-link" [innerHTML]="childL1.label" routerLink="childL1.url" routerLinkActive="active" >
                </a>
              </li>
              <ng-container *ngIf="childL1.children && childL1.children.length > 0">
                <li mat-menu-item #levelTwoTrigger="matMenuTrigger" [matMenuTriggerFor]="levelTwo">
                  <span class="icon fa" [ngClass]="childL1.icon"></span>
                  <span [innerHTML]="childL1.label" routerLink="childL1.url" routerLinkActive="active"></span>
                </li>

                <mat-menu #levelTwo="matMenu">
                  <span (mouseenter)="menu2enter()" (mouseleave)="menu2Leave(levelOneTrigger,levelTwoTrigger, button)">
                    <ng-container *ngFor="let childL2 of childL1.children">
                      <li class="p-0" mat-menu-item>
                        <a class="nav-link" [innerHTML]="childL2.label" routerLink="childL2.url" routerLinkActive="active"></a>
                      </li>
                    </ng-container>
                  </span>
                </mat-menu>
              </ng-container>
            </ng-container>
          </span>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</ng-container>
