<div class="menu">
  <div class="flex-row-wrap-section">
    <div routerLink="content/budget-credit-counseling" routerLinkActive="active">
        <button  class="text" 
         [matMenuTriggerFor]="programsServices"
        #programsServicesMenuTrigger="matMenuTrigger" (mouseenter)="programsServicesMenuTrigger.openMenu()">
        {{'menu.programs-services' | translate}}
      </button></div>
    <div><button class="text" routerLink="consumer-debt-information" routerLinkActive="active"
        [matMenuTriggerFor]="recources" #recourcesMenuTrigger="matMenuTrigger"
        (mouseenter)="recourcesMenuTrigger.openMenu()">{{'menu.recources' | translate}}</button></div>
  </div>
  <mat-menu #programsServices="matMenu" class="drop-down-menu" [overlapTrigger]="false">
    <span>
      <button mat-menu-item routerLink="content/budget-credit-counseling" routerLinkActive="active"
        [matMenuTriggerFor]="budgetCredit" #budgetCreditMenuTrigger="matMenuTrigger"
        (mouseenter)="budgetCreditMenuTrigger.openMenu()">
        {{'menu.budget-credit' | translate}}
      </button>
      <button mat-menu-item routerLink="content/debtor-education" routerLinkActive="active"
        [matMenuTriggerFor]="debtorEducation" #debtorEducationMenuTrigger="matMenuTrigger"
        (mouseenter)="debtorEducationMenuTrigger.openMenu()">
        {{'menu.pre-discharge' | translate}}
      </button>
    </span>
  </mat-menu>

  <mat-menu #budgetCredit="matMenu" class="drop-down-menu" [overlapTrigger]="false">
    <span (mouseleave)="programsServicesMenuTrigger.closeMenu()">
      <button [innerHTML]="'menu.budget-and-credit' | translate" routerLink="budget-and-credit-counseling-disclosure"
        routerLinkActive="active">
      </button>
      <button [innerHTML]="'menu.wiser-consumer' | translate"
        routerLink="content/1-wiser-consumer-education-inc-budget-and-credit-counseling-faqs"
        routerLinkActive="active"></button>
      <button [innerHTML]="'menu.client-reviews' | translate" routerLink="client-reviews-credit-counseling-course"
        routerLinkActive="active"></button>
      <button [innerHTML]="'menu.contact-counselor' | translate" routerLink="content/contact-counselor"
        routerLinkActive="active"></button>
      <button [innerHTML]="'menu.fee-schedule' | translate" routerLink="content/fee-schedule"
        routerLinkActive="active"></button>
    </span>
  </mat-menu>

  <mat-menu #debtorEducation="matMenu" class="drop-down-menu" [overlapTrigger]="false">
    <span (mouseleave)="programsServicesMenuTrigger.closeMenu()">
      <button [innerHTML]="'menu.pre-discharge-deb-education' | translate" routerLink="debtor-education-disclosure"
        routerLinkActive="active"></button>
      <button [innerHTML]="'menu.pre-discharge-deb-education-faqs' | translate"
        routerLink="content/debtor-education-faqs" routerLinkActive="active"></button>
      <button [innerHTML]="'menu.client-reviews-debtor-education' | translate"
        routerLink="client-reviews-debtor-education-course" routerLinkActive="active"></button>
      <button routerLink="content/1-wiser-consumer-education-fee-schedule" routerLinkActive="active"
        [innerHTML]="'menu.wiser-consumer-free-schedule' | translate"></button>
      <button routerLink="content/contact-counselor-debtor-education" routerLinkActive="active"
        [innerHTML]="'menu.contact-counselor' | translate"></button>
    </span>
  </mat-menu>

  <mat-menu #recources="matMenu" class="drop-down-menu">
    <span (mouseleave)="recourcesMenuTrigger.closeMenu()">
      <button [innerHTML]="'menu.consumer-recources' | translate" routerLink="consumer-resources"
        routerLinkActive="active"></button>
      <button [innerHTML]="'menu.credit-laws' | translate" routerLink="credit-laws-summaries"
        routerLinkActive="active"></button>
      <button [innerHTML]="'menu.budgeting-faqs' | translate" routerLink="budgeting-faqs"
        routerLinkActive="active"></button>
      <button [innerHTML]="'menu.budget-credit-glossary' | translate" routerLink="content/budget-credit-glossary"
        routerLinkActive="active"></button>
      <button [innerHTML]="'menu.negotiating' | translate" routerLink="content/negotiating-creditors"
        routerLinkActive="active"></button>
      <button [innerHTML]="'menu.disaster-survivors' | translate" routerLink="disaster-survivors-tool-kit"
        routerLinkActive="active"></button>
    </span>
  </mat-menu>
</div>
