<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/first-slide.jpg" alt="Random first slide">
      <div class="background"></div>
    </div>
    <div class="carousel-caption">
      <h2>{{'carousel.first-slide-title' | translate}}</h2>
      <p [innerHTML]="'carousel.first-slide-description' | translate"></p>
      <button class="register-btn"><a>{{'carousel.register-btn' | translate}}</a></button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/second-slide.jpg" alt="Random second slide">
      <div class="background"></div>
    </div>
    <div class="carousel-caption">
      <h2>{{'carousel.second-slide-title' | translate}}</h2>
      <p [innerHTML]="'carousel.second-slide-description' | translate"></p>
      <button class="register-btn"><a>{{'carousel.register-btn' | translate}}</a></button>
    </div>
  </ng-template>
</ngb-carousel>
