<div class="footer-container flex-column-wrap-section">
  <nav class="footer-menu flex-row-center-initial-section ">
    <ul class="menu">
      <li><a (click)="privacyPolicyRedirect()">{{'footer.privacy-policy' | translate}}</a></li>
      <li><a (click)="aboutRedirect()" >{{'footer.about' | translate}}</a></li>
      <li><a (click)="contactUsedirect()">{{'footer.contact-us' | translate}}</a></li>
      <li><a (click)="termsOfServiceRedirect()">{{'footer.terms-of-service' | translate}}</a></li>
    </ul>
  </nav>
  <div class="footer-block">
    <div class="content flex-column-initial-center-section">
      <div class="text" [innerHTML]="'footer.footer-description' | translate"></div>
      <div><img class="footer-logo" src="assets/images/footer-logo.png"></div>
    </div>
  </div>
</div>