<app-main-header [title]="'disaster-survivors-tool-kit.title'"></app-main-header>

<div class="disaster-survivors-tool-kit-container flex-row-center-initial-section">
  <div class="disaster-survivors-tool-kit">
    <p>{{'disaster-survivors-tool-kit.subtitle' | translate}}</p>
    <div>
      <img src="">
    </div>
    <p>{{'disaster-survivors-tool-kit.about-us' | translate}}</p>
    <span [innerHTML]="'disaster-survivors-tool-kit.text1' | translate"></span>
    <span>
      <a href="http://www.1dollarwiser.com/" target="_blank">
        {{'disaster-survivors-tool-kit.link' | translate}}
      </a>
    </span>
    <p>{{'disaster-survivors-tool-kit.questions' | translate}}
      <a href="mailto:info@1dollarwiser.com" target="_blank">{{'disaster-survivors-tool-kit.link2' | translate}}</a>
    </p>
    <p>{{'disaster-survivors-tool-kit.disclaimer' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.last-updated' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.wiser-consumer-education' | translate}}</p>

    <span [innerHTML]="'disaster-survivors-tool-kit.verification' | translate"></span>
    <a href="https://www.justice.gov/ust/credit-counseling-debtor-education-information" target="_blank">
      {{'disaster-survivors-tool-kit.link3' | translate}}
    </a>
    <span>{{'disaster-survivors-tool-kit.list-approved' | translate}}</span>

    <span [innerHTML]="'disaster-survivors-tool-kit.EIN' | translate"></span>
    <a href="https://apps.irs.gov/app/eos/mainSearch.do;jsessionid=FESv0-wB0J-TbzpEVbqpPw__?mainSearchChoice=pub78&dispatchMethod=selectSearch"
      target="_blank">
      {{'disaster-survivors-tool-kit.link4' | translate}}
    </a>
    <span>{{'disaster-survivors-tool-kit.verify' | translate}}</span>

    <p>{{'disaster-survivors-tool-kit.turned-upside-down' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.drawing-from-lessons' | translate}}</p>

    <img src="">
    <p>{{'disaster-survivors-tool-kit.if-you-get-discouraged' | translate}}</p>
    <ul>
      <li *ngFor="let item of list">
        {{item.text | translate}}
      </li>
    </ul>
    <p [innerHTML]="'disaster-survivors-tool-kit.know-before' | translate"></p>

    <span [innerHTML]="'disaster-survivors-tool-kit.if-you-do-not-feel' | translate"></span>
    <a href="https://apps.irs.gov/app/eos/mainSearch.do;jsessionid=FESv0-wB0J-TbzpEVbqpPw__?mainSearchChoice=pub78&dispatchMethod=selectSearch"
      target="_blank">
      {{'disaster-survivors-tool-kit.link5' | translate}}
    </a>
    <span>{{'disaster-survivors-tool-kit.call-the-disaster-distress' | translate}}</span>

    <p>{{'disaster-survivors-tool-kit.register-with-FEMA' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.sheltering' | translate}}</p>
    <p>
      <a href="https://www.fema.gov/news-release/2017/08/30/sheltering-and-immediate-assistance-available-after-hurricane-harvey"
        target="_blank">
        {{'disaster-survivors-tool-kit.link6' | translate}}
      </a>
    </p>
    <p [innerHTML]="'disaster-survivors-tool-kit.use-excellent-resource' | translate"></p>
    <p>{{'disaster-survivors-tool-kit.file-insurance-claims' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.make-a-list' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.flood-insurance' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.insurance-policy' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.property-address' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.contact-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.how-communicate' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.instructions' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.claim-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.homeowner-insurance' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.insurance-policy' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.hurricane-deductibles' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.property-address' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.contact-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.how-communicate' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.items-lost' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.instructions' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.claim-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.vehicle-insurance' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.insurance-policy' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.hurricane-deductibles' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.property-address' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.contact-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.how-communicate' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.items-lost' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.instructions' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.claim-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.renter-insurance' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.insurance-policy' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.hurricane-deductibles' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.property-address' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.contact-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.how-communicate' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.items-lost' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.instructions' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.claim-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.other-insurance' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.insurance-policy' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.hurricane-deductibles' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.property-address' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.contact-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.how-communicate' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.items-lost' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.instructions' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.claim-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.insurance.utilities' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.unless-you-know' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.note' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.electricity' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.company-account' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.name-of-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.security-deposit' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.address' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.cancellation-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.gas' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.company-account' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.name-of-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.security-deposit' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.address' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.cancellation-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.insurance.water' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.company-account' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.name-of-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.security-deposit' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.address' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.cancellation-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.insurance.sewer' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.company-account' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.name-of-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.security-deposit' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.address' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.cancellation-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.insurance.telephone-land-line' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.company-account' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.name-of-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.security-deposit' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.address' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.cancellation-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.insurance.satellite' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.company-account' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.name-of-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.security-deposit' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.address' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.cancellation-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.insurance.internet' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.company-account' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.name-of-person' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.website' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.security-deposit' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.insurance.address' | translate}}</p>
    <p>__________________________________________________________</p>
    <p>{{'disaster-survivors-tool-kit.insurance.cancellation-date' | translate}}</p>

    <p>{{'disaster-survivors-tool-kit.delivery-services' | translate}}</p>
    <p>{{'disaster-survivors-tool-kit.go-to' | translate}}
      <a href="http://www.usps.gov/" target="_blank">{{'disaster-survivors-tool-kit.link7' | translate}}</a>
      <span>{{'disaster-survivors-tool-kit.and-submit' | translate}}</span>
    </p>
    <p>{{'disaster-survivors-tool-kit.do-the-same' | translate}}</p>

    <ul>
      <li *ngFor="let item of businessServicesList">
          {{item.text | translate}}
      </li>
    </ul>

    <p [innerHTML]="'disaster-survivors-tool-kit.remember' | translate"></p>

  </div>
</div>
