.disaster-survivors-tool-kit-container {
    margin-bottom: 10px;
    margin-top: 80px;
    .disaster-survivors-tool-kit {
      width: 1110px;
      font-size: 18px;
  
      .text {
        margin: 0 0 10px;
      }
    }
  }