<app-main-header [title]="'privacy-policy.title'"></app-main-header>

<div class="container flex-row-center-initial-section">
    <div class="privacy-policy content">
     <p [innerHTML]="'privacy-policy.text1' | translate"></p>
     <p [innerHTML]="'privacy-policy.text2' | translate"></p>
     <p>{{'privacy-policy.text3' | translate}} <a>legal@1dollarwiser.com</a><span>{{'privacy-policy.text4' | translate}}</span></p>
     <p>{{'privacy-policy.text5' | translate}}</p>
     <p>{{'privacy-policy.text6' | translate}}</p>
     <p>{{'privacy-policy.text7' | translate}}</p>
     <p>{{'privacy-policy.text8' | translate}}</p>
     <p>{{'privacy-policy.text9' | translate}}</p>
     <p>{{'privacy-policy.text10' | translate}}</p>
     <p>{{'privacy-policy.text11' | translate}}</p>
     <p>{{'privacy-policy.text12' | translate}}</p>
     <p>{{'privacy-policy.text13' | translate}}</p>
     <p>{{'privacy-policy.text14' | translate}}</p>
     <p>{{'privacy-policy.text15' | translate}}</p>
     <p>{{'privacy-policy.text16' | translate}}</p>
     <p>{{'privacy-policy.text17' | translate}}</p>
     <p>{{'privacy-policy.text18' | translate}}</p>
     <p>{{'privacy-policy.text19' | translate}}</p>
    </div>
  </div>