<app-main-header [title]="'fee-schedule.title'"></app-main-header>

<div class="fee-schedule-container flex-row-center-initial-section">
  <div class="fee-schedule">
    <h2 class="page-title">{{'fee-schedule.page-title' | translate}}</h2>
    <p class="subtitle text">{{'fee-schedule.fee-schedule' | translate}}</p>
    <p class="subtitle text all-fees-per-person">{{'fee-schedule.all-fees-per-person' | translate}}</p>
    <p class="big-margin-top"><em>{{'fee-schedule.budget-credit' | translate}}</em></p>
    <p class="text">{{'fee-schedule.text1' | translate}}</p>
    <p class="text">{{'fee-schedule.text2' | translate}}</p>
    <p class="big-margin-top"><em>{{'fee-schedule.debtor-education' | translate}}</em></p>
    <p class="text">{{'fee-schedule.text3' | translate}}</p>
    <p class="big-margin-top"><em>{{'fee-schedule.email-certificate' | translate}}</em></p>
    <p class="text">{{'fee-schedule.text4' | translate}}</p>
    <p class="big-margin-top"><em>{{'fee-schedule.mail-certificate' | translate}}</em></p>
    <p class="text">{{'fee-schedule.text5' | translate}}</p>
  </div>
</div>
