<ngbd-carousel-basic></ngbd-carousel-basic>
<div class="text-section flex-column-center-section">
  <div class="info-block container flex-column-center-section">
    <span class="text" [innerHTML]="'payment-section.description' | translate"></span>
    <div class="flex-row-center-section wrap">
      <app-card [cardHeaderTitle]="'card.budget-credit-title' | translate"
        [cardHeaderText]="'card.budget-credit-text' | translate"
        [cardPriceTitle]="'card.budget-credit-price-title' | translate" [cardItems]="budgetCreditItems">
      </app-card>
      <app-card class="second-card" [cardHeaderTitle]="'card.debtor-education-title' | translate"
        [cardHeaderText]="'card.debtor-education-text' | translate"
        [cardPriceTitle]="'card.debtor-education-price-title' | translate" [cardItems]="debtorEducationItems">
      </app-card>
    </div>
    <span class="wiser-education-text" [innerHTML]="'payment-section.wiser-education' | translate"> </span>
    <span class="wiser-education-text last-updated-text">{{'payment-section.last-updated-text' | translate}}</span>
  </div>
</div>
