.debtor-education-faqs {
  font-size: 18px;

  .text {
    margin: 0 0 10px;
    font-weight: 400;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  padding-left: 50px;
  margin: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.list {
  list-style: none;
}

.big-margin-bottom {
  margin-bottom: 40px;
}

.yellow {
  background-color: #ffff00;
}
